  <!DOCTYPE html SYSTEM "-//W3C//DTD VALHTML Strict//EN">
  <html xmlns="http://www.staubli.com/robotics/2016/03/valhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"></meta>
      <meta http-equiv="Pragma" content="no-cache"></meta>
      <meta http-equiv="Expires" content="0"></meta>
      <script type="text/javascript" src="/vendor/libs/stblUserPage.min.js"></script>
    </head>
    <body>
      <label style="font-size: 20px; width: 62px; height: 27px; left: 209px; position: absolute; top: 45px">Output</label>
      <label style="top: 97px; width: 444px; position: absolute; left: 18px; height: 497px" id="wdOutput"></label>
      <button style="width: 80px; height: 40px; left: 200px; position: absolute; top: 625px" id="wdExitButton">Exit</button>
    </body>
  </html>
