<!DOCTYPE html SYSTEM "-//W3C//DTD VALHTML Strict//EN">
<html xmlns="http://www.staubli.com/robotics/2016/03/valhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script type="text/javascript" src="/vendor/libs/stblUserPage.min.js"></script>
</head>
<body style="width: 480px; height: 690px; margin: 0">
</body>
</html>
